
/*!
    IntelliAI Landing Page Template
    Created on date: 9/13/2023
    Built on date: 9/14/2023
*/

/*========== IMPORT FONT */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

/*========== RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
    display: block;
}
figure {
    margin-right: auto;
    margin-left: auto;
}
ul, li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/*========== HR */
hr {
    border: none;
    border-bottom: 1px solid var(--color-border-defalt);
}

/*========== A / LINK */
a {
    text-decoration: none;
    color: var(--color-link);
}
a:hover {
    color: var(--color-main);
}

/*========== SELECTION */
::selection {
    background-color: var(--color-soft-7);
    color: var(--color-black);
}

/*========== SCROLLBAR */
::-webkit-scrollbar {
    height: 3px;
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--background-dark-primary-main);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: var(--background-dark-secondary-main);
}

/*========== VAR */
:root {
    --font-family: 'Poppins', 'JosefinSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    
    --line-height-16: 1.6;
    --line-height: 1.5;


    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 1rem;
    --font-size-14: 14px;
    --font-size-12: 12px;
    --font-size-10: 10px;


    --background-main: #ffffff;
    --background-primary-main: #e8e8e9;
    --background-secondary-main: #f4f4f4;
    --background-dark-main: #0b0b0b;
    --background-dark-primary-main: #141414;
    --background-dark-secondary-main: #202020;

    --background-grd-soft: radial-gradient(100% 193.51% at 100% 0%,#EDF4F8 0%,#EFF2FA 16.92%,#F1F1FB 81.34%,#F0F4F8 100%);


    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #1f883d;
    --color-blue: #0e7ff8;
    --color-yellow: #daa520;
    --color-red: #ff0000;
    --color-orange: #ff4500;
    --color-silver: #707070;

    --color-soft-1: #c6e7e7;
    --color-soft-2: #d5e8f1;
    --color-soft-3: #fff6f4;
    --color-soft-4: #ebecd7;
    --color-soft-5: #ffebd3;
    --color-soft-6: #f8ffe5;
    --color-soft-7: #e0dffd;
    --color-soft-8: rgb(254, 202, 108);
    --color-soft-9: rgb(254, 154, 116);
    --color-soft-10: rgb(12, 206, 220);
    --color-soft-11: rgb(160, 245, 207);
    --color-soft-12: rgb(182, 146, 252);

    --color-main: #fff;
    --color-link-main: #000000;
    --color-link-hover-main: #07944d;
    --color-dark-main: #cacaca;
    --color-border-defalt: rgb(216, 222, 228);


    --border-radius-md: 6px;
    --border-radius-mmd: 8px;
    --border-radius-mmmd: 10px;
    --border-radius-lg: 25px;
    --border-radius-full: 9999px;


    --box-shadow-sm: 0 1px 0 rgba(31,35,40,0.04);
    --box-shadow-md: 0 3px 6px rgba(140,149,159,0.15);
    --box-shadow-lg: 0 1px 0 rgba(31,35,40,0.04);
    --box-shadow-xlg: 0 12px 28px rgba(140,149,159,0.3);

    --box-shadow-dark-sm: 0 1px 0 rgba(0, 0, 0, 0.04);
    --box-shadow-dark-md: 0 3px 6px rgba(0, 0, 0, 0.15);
    --box-shadow-dark-lg: 0 1px 0 rgba(0, 0, 0, 0.04);
    --box-shadow-dark-xlg: 0 12px 28px rgba(0, 0, 0, 0.3);


    --padding-default\12-18: 12px 18px;
    --padding-default\15-20: 15px 20px;


    --transition-1s-ease: all .1s ease;
    --transition-2s-ease: all .2s ease;
    --transition-3s-ease: all .3s ease;
    --transition-5s-ease: all .5s ease;
    --transition-8s-ease: all .8s ease;
}

/*========== BODY */
body {
    font-family: var(--font-family);
    background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.753)), url(../images/points-space.svg);
    background-color: var(--color-black) !important;
    background-repeat: round;
    line-height: var(--line-height);
    font-size: var(--font-size-16);
    color: var(--color-main);
    height: 100%;
    padding: 0;
    margin: 0;
}

/*========== LOADER */
.loader-warpper-hide {
    display: none !important;
}
.loader-warpper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 99999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
}
.loader {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    border: 3px solid var(--color-blue);
    border-top: 3px solid var(--color-black);
    border-bottom: 3px solid var(--color-black);
    animation: loader-spin 0.5s infinite linear;
}

/*========== NAVBAR */
nav {
    width: 100%;
    z-index: 99;
    padding: 16px;
    display: flex;
    position: fixed;
    align-items: center;
    animation: a2 0.8s ease-in;
    backdrop-filter: blur(16px);
    justify-content: space-between;
    background-color: rgba(11, 11, 11, 0.900);
    box-shadow: var(--box-shadow-dark-xlg);
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul img {
    height: auto;
    width: 35px;
}
nav .navbar-desktop a {
    margin: 0 18px;
    color: var(--color-dark-main);
}
nav .navbar-desktop li {
    border-bottom: 2px solid transparent;
}
nav .navbar-desktop li:hover {
    transition: var(--transition-2s-ease);
    border-bottom: 2px solid;
    color: var(--color-white);
}
nav .fa-bars,
nav .fa-close {
    display: none;
}

/*========== HEADER/HERO */
main header {
    padding: 135px 16px 16px 16px;
    animation: a1 0.3s ease-in;
    text-align: center;
    height: 650px;
}
main header h1 {
    font-size: 1.7rem;
}
main header h1::before {
    content: url(../images/line.svg);
    position: absolute;
    padding-left: 55px;
    padding-top: 12px;
}
main header p {
    margin: 7px auto 35px auto;
    color: var(--color-dark-main);
    max-width: 700px;
    font-size: 15px;
}
main header img {
    animation: a1 0.5s ease-in;
    transition: var(--transition-3s-ease);
    position: relative;
    margin: auto;
    width: 790px;
    top: 0px;
}

/*========== SECTION FEATURES */
main .section-features {
    padding: 280px 16px 16px 16px;
    background-color: #050505;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: a1 0.3s ease-in;
}
main .section-features-header {
    text-align: center;
}
main .section-features .section-features-header h1 {
    transition: var(--transition-3s-ease);
    margin-bottom: 5px;
    margin-top: 10px;
}
main .section-features .section-features-header h1 span {
    border-bottom: 2px solid;
    color: #1f8bff;
}
main .section-features .section-features-header > p {
    font-size: var(--font-size-14);
    color: var(--color-silver);
}
main .section-features .section-features-body {
    gap: 20px;
    display: flex;
    margin-top: 30px;
    align-items: center;
}
main .section-features .section-features-card {
    background-color: var(--background-dark-main);
    border-radius: var(--border-radius-mmmd);
    padding: 15px;
    width: 250px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main .section-features .section-features-card:hover {
    transition: var(--transition-5s-ease);
    background-color: var(--color-black);
}
main .section-features .section-features-card li {
    background-color: var(--color-white);
    border-radius: var(--border-radius-full);
    margin-bottom: 8px;
    color: var(--color-black);
    padding: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .section-features .section-features-card p {
    font-size: var(--font-size-12);
    color: var(--color-silver);
}

/*========== SECTION ABOUT US */
main .section-about-us {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #050505;
    animation: a1 0.3s ease-in;
    padding: 100px 16px 50px 16px;
}
main .section-about-us .section-about-us-header-reverse {
    flex-direction: row-reverse;
}
main .section-about-us .section-about-us-header {
    gap: 30px;
    display: flex;
    max-width: 900px;
    align-items: center;
    margin-bottom: 100px;
    justify-content: space-between;
}
main .section-about-us .section-about-us-header img {
    border-radius: var(--border-radius-mmmd);
    height: auto;
    width: 500px;
}
main .section-about-us .section-about-us-header h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}
main .section-about-us .section-about-us-header h2 span {
    color: #1f8bff;
}
main .section-about-us .section-about-us-header p {
    margin-bottom: 20px;
    font-size: var(--font-size-14);
    color: var(--color-silver);
}
main .section-about-us .section-about-us-header .btn-default {
    font-size: var(--font-size-12);
}

/*========== SECTION: CTA/CALL TO ACTION */
.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.445)), url(../images/points-space.svg);
    background-attachment: fixed;
    background-position: center;
    transition: var(--transition-8s-ease);
    padding: 16px;
    height: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cta .btn-secondary {
    margin-top: 20px;
}

/*========== FOOTER */
footer {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-dark-main);
}
footer ul {
    display: flex;
    align-items: center;
}
footer ul img {
    height: auto;
    width: 80px;
}
footer ul a {
    border-bottom: 2px solid transparent;
    font-size: var(--font-size-14);
    color: var(--color-silver);
    margin: 0 10px;
}
footer ul a:hover {
    transition: var(--transition-3s-ease);
    border-bottom: 2px solid;
}

/*========== BACK TOP */
.back-top {
    width: 45px;
    right: 20px;
    height: 45px;
    bottom: 20px;
    display: none;
    position: fixed;
    animation: a1 0.5s;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-lg);
    background-color: var(--color-blue);
}
.back-top:hover {
    background-color: #1f8bff;
    transition: var(--transition-3s-ease);
    transform: translateY(-3px);
}
.back-top:focus {
    background-color: #005fc5;
    transition: var(--transition-3s-ease);
}
.back-top:active {
    background-color: #005fc5;
}
.back-top-active {
    display: flex;
}


/*========== BTNS, BADGE */
/* BTNS */
.btn-default, .btn-secondary {
    border-radius: var(--border-radius-lg);
    transition: var(--transition-3s-ease);
    display: inline-flex;
    padding: 10px 25px;
    cursor: pointer;
    outline: none;
}
.btn-default span, .btn-secondary span {
    margin-right: 5px;
}

.btn-default {
    background-color: var(--color-blue);
}
.btn-default:hover {
    background-color: #1f8bff;
    transition: var(--transition-3s-ease);
    transform: translateY(-3px);
}
.btn-default:focus {
    background-color: #005fc5;
    transition: var(--transition-3s-ease);
}
.btn-default:active {
    background-color: #005fc5;
}

.btn-secondary {
    background-color: var(--background-dark-primary-main);
    font-size: var(--font-size-14);
}
.btn-secondary:hover {
    background-color: var(--background-dark-secondary-main);
    transition: var(--transition-3s-ease);
    transform: translateY(-3px);
}
.btn-secondary:focus {
    transition: var(--transition-3s-ease);
    background-color: #0f0f0f;
}
.btn-secondary:active {
    background-color: #070707;
}
/* BADGE */
.badge {
    display: inline-block;
    border-radius: var(--border-radius-full);
    font-size: var(--font-size-14);
    padding: 3px 15px;
}
.badge:hover {
    transition: var(--transition-3s-ease);
    transform: translateY(-3px);
}
.badge-blue {
    border: 2px solid var(--color-blue);
}


/*========== ANIMATIONS */
@keyframes a1 {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes a2 {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes a3 {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: scale(0.7);
        opacity: 1;
    }
}
@keyframes a4 {
    0% {
        transform: translateX(360%);
        opacity: 0;
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}
@keyframes a5 {
    0% {
        transform: translateX(-360%);
        opacity: 0;
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}
@keyframes a6 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loader-spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
    }
}


/*========== MEDIA QUERIES */
/* TABLET */
@media (max-width: 810px) {
    nav .fa-bars,
    nav .fa-close {
        width: 18px;
        display: block;
        cursor: pointer;
        margin-left: 18px;
        font-size: var(--font-size-18);
        animation: a3 0.3s;
    }
    nav .fa-close {
        display: none;
    }
    /* NAVBAR MOBILE */
    .navbar-mobile {
        background-color: var(--background-dark-main);
        position: absolute;
        padding-top: 25px;
        height: 190px;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 71px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: var(--box-shadow-dark-xlg);
    }
    .navbar-mobile a {
        margin: 0 !important;
        width: 100%;
    }
    .navbar-mobile li {
        border-radius: var(--border-radius-mmmd);
        border: none !important;
        padding: 10px 15px;
        margin: 1px 16px;
    }
    .navbar-mobile li:hover {
        background-color: var(--background-dark-primary-main);
    }
    .navbar-mobile-toggle {
        display: flex;
    }
    .navbar-mobile-btn-open-toggle {
        display: none !important;
    }
    .navbar-mobile-btn-close-toggle {
        display: block !important;
    }

    main header img {
        transition: var(--transition-3s-ease);
        margin-top: 10px;
        width: 100%;
    }

    .btn-secondary {
        padding: 8px 18px;
    }

    main .section-features {
        transition: var(--transition-3s-ease);
        padding-top: 200px;
    }
    main .section-features .section-features-header h1 {
        transition: var(--transition-3s-ease);
        font-size: 1.3rem;
    }
    main .section-features .section-features-body {
        flex-direction: column;
        width: 100%;
    }
    main .section-features .section-features-body .section-features-card {
        width: 100%;
    }

    main .section-about-us .section-about-us-header {
        flex-direction: column;
    }
    main .section-about-us .section-about-us-header img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 30px 16px;
    }
    footer img {
        margin-bottom: 20px;
    }
}